

body {
    font-family: 'Audiowide', sans-serif;
    color: white;
    text-shadow: 2px 5px 6px rgba(255, 196, 0, 0.8); /* efecto solar brillante */
    background: radial-gradient(circle at center, #000000 0%, #1a1a1a 100%);
}





h1 {
    margin: 0%;
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 110px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 2000;
}

#sun {
    margin: auto;
    min-width: 100vw;
    max-height: 100vh;
    rotate: 180deg;
}

body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.video-container {
    text-align: center;
    margin: 20px 0;
}

h1, h3, h4, p, li, label, legend {
    color: white;
}

img {
    width: 200px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin: 10px;
}

img {
    width: 200px;
    height: 120px;
    object-fit: cover;
    border: 4px solid #ff9100; /* dorado solar */
    box-shadow: 0 0 15px rgba(255, 128, 0, 0.8); /* resplandor solar */
    border-radius: 10px;
    margin: 10px;
}


.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.video-foreground {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

.video-foreground iframe {
    width: 100%;
    height: 100%;
    pointer-events: none;
}




