body {
    margin: 0;
}

.seccion.intro{
    display: grid;
    background-color: black;
}

h1 {
    margin: 0%;
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 110px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 2000;
}

#sun {
    margin: auto;
    min-width: 100vw;
    max-height: 100vh;
    rotate: 180deg;
}